QMenu,QMenuBar {
	background-color: #525252;
	color: white;
	border: 1px solid gray;
}

QMenu::item, QMenuBar::item {
	background-color: transparent;
}

QMenu::item:disabled, QMenuBar::item:disabled {
	color: gray;
}

QMenu::item:selected, QMenuBar::item:selected {
	color: black;
	background: #FDE364;
}

QMenu::item:pressed, QMenuBar::item:pressed {
	background: darkgray;
}
 
qf--gui--framework--PartSwitch {
	background: #525252;
}

QToolButton.PartSwitchToolButton {
	background-color: #525252;
	color: white;
	padding: 2px;
	border: none;
}
QToolButton.PartSwitchToolButton:hover {
	background-color: #858585;
}

qf--gui--dialogs--internal--CaptionFrame {
 	background: darkorange;
}
QWidget#CaptionFrame {
	background: darkorange;
	color:black;
	font-weight: bold;
}
qf--gui--dialogs--internal--CaptionFrame[alert="true"] {
	background: salmon;
}

qf--gui--dialogs--internal--CaptionFrame QLabel {
	font: 14pt;
	color:black;
}

QToolButton:checked	{background-color: #ffa500;}
